<link rel="import" href="sidecar-result.html">

<template id="tmpl-sidecar-contents">
  <style>
    #container {
      padding: 20px 5px;
    }

    sidecar-result {
      margin-bottom: 10px;
    }

    sidecar-result:last-child {
      margin-bottom: 20px;
    }
  </style>
  <div id="container"></div>
</template>

<script>
(function () {
  var importDoc = document.currentScript.ownerDocument;

  var resultPrototype = Object.create(HTMLElement.prototype);

  resultPrototype.createdCallback = function() {
    var t = importDoc.querySelector('#tmpl-sidecar-contents');
    var clone = document.importNode(t.content, true);
    this.root = this.createShadowRoot();
    this.root.appendChild(clone);

    var ipc = require('ipc');
    var DisplayDispatch = require('./lib/display-dispatch');

    var display = new DisplayDispatch();

    var container = this.root.getElementById('container');

    function appendResult(html, kind, label) {
      var node = document.createElement('sidecar-result');
      node.setPayload(html);
      if (label) {
        node.setLabel(label);
      }
      if (kind) {
        node.setKind(kind);
      }
      container.appendChild(node);

      node.scrollIntoView();
    }

    ipc.on('message', function (message) {
      display.handleMessage(message, {
        result: function (html, label) { appendResult(html, 'ok', label); },
        trace: function (html) { appendResult(html, 'err'); },
        code: function (js) { eval(js); }
      });
    });

  };

  document.registerElement('sidecar-contents', {prototype: resultPrototype});
})();
</script>
